*

!*/
!.gitignore
!*.d
!Makefile
!*.md
!dub.selections.json
!dub.json
!tmp/*.ptx

.dub
docs.json
__dummy.html
docs/
d-cuda-demo.so
d-cuda-demo.dylib
d-cuda-demo.dll
d-cuda-demo.a
d-cuda-demo.lib
d-cuda-demo-test-*
*.exe
*.o
*.obj
*.lst
